/* CSS for Swpwrx2Studio */

/*

NOTE: We don't use this

.swpwrx2studio_block .stdLbl {
    display: inline-block;
    width: 20%;
    text-align: right;
}
.swpwrx2studio_block input {
    display: inline-block;
    width: 70%;
}
*/
